.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 195px;
  padding: 20px;
  color: white;
}
.react-datepicker__input-container > input {
  border: none;
  padding: 10px;
}
.ui.fluid.input > input {
  border: none;
}
.App-banner {
  background-color: rgb(57, 68, 160);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.StyleBlock {
  background-color: "yellow";
  display: "block";
  border: "1px solid #DBDBDB";
  border-radius: "2px";
  width: "100%";
}
.App-intro {
  font-size: large;
}
.ui.page.modals.dimmer.transition.visible.active {
  /* margin: 1rem auto !important; */
  display: flex !important;
}
.ui.page.modals.transition.visible.active {
  /* margin: 1rem auto!important; */
  /* display: flex !important; */
  margin-top: 0px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
